<div align="center">
  <form novalidate class="css-form form-signin input-group">
    <input type="text" ng-model="user.name" class="form-control" placeholder="First Name"required />
    <input type="text" ng-model="user.givenLastName" class="form-control" placeholder="Last Name (Given)"/>
    <input type="text" ng-model="user.realLastName" class="form-control" placeholder="Last Name (Real)" />
    <input type="email" ng-model="user.email" class="form-control" placeholder="Email address" required />
    <input type="text" ng-model="user.birthPlace" class="form-control" placeholder="Birth Place" required />
    Gender: <input type="radio" ng-model="user.gender" value="male" />male
    <input type="radio" ng-model="user.gender" value="female" />female<br />
    <input type="button" ng-click="reset()" value="Reset" />
    <input type="submit" ng-click="update(user)" value="Save" />
  </form>
</div>

<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    border-color: #FA787E;
  }
</style>