<div class="page-content">
    <div class="row">
        <div class="space-6"></div>
        <div class="col-sm-10 col-sm-offset-1">
            <div id="login-box" class="login-box visible widget-box no-border">
                <div class="widget-body">
                    <div class="widget-main">
                        	<h3>Find your relative</h3>
	<p><b>Many of our ancestors were seperated from their families, and many of them didn't remember their last names. Using city of Birth and names of parents we can narrow down a search to find those long lost relatives.</b></p>

	<h3>Save our stories</h3>
		<p><b>100 years has passed to the beging of the Armenian Genocide, and many of the decendants don't remember the stories of their ancestors. Registering will allow us to record our individual stories for everyone to see.</b></p>

	<h3>Get a count</h3>
		<p><b>Get a count of people killed or missing from the Genocide.</b></p>

	
	<h3>Track our migration</h3>
		<p><b>Using city of birth information we'll be able to track how people migrated and where they ended up.</b></p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.page-content -->